<h1>Write your own Review!</h1>
<form class="" action="/reviews" method="post">
  <label for="game_title">Game Title:</label>
  <input type="text" name="game_title" value="">
  <label for="score">Score:</label>
  <input type="integer" name="score" value="">
  <label for="description">Description:</label>
  <input type="text" name="description" value="">
  <input type="submit" name="" value="Submit your Review!">
</form>
